# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
dist/

# Env
.env

# Mac
.DS_Store

# Logs
*.log

# IDE
.vscode/
.idea/

# Coverage
coverage/
htmlcov/

# SQLite
*.db
*.sqlite3

#upload directories
apps/api/storage/uploads/*
!apps/api/storage/uploads/.gitkeep

apps/api/storage/url_download/*
!apps/api/storage/url_download/.gitkeep

apps/api/storage/temp/*
!apps/api/storage/temp/.gitkeep

apps/api/storage/models/*
!apps/api/storage/models/.gitkeep
